.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
HostApp/amplify/
HostApp/build/
HostApp/dist/
HostApp/node_modules/
HostApp/generated-src/
HostApp/aws-exports.js
HostApp/.gitignore
HostApp/awsconfiguration.json
HostApp/amplifyconfiguration.json
HostApp/amplifyconfiguration.dart
HostApp/amplify-build-config.json
HostApp/amplify-gradle-config.json
HostApp/amplifytools.xcconfig
HostApp/.secret-*
HostApp/**.sample